/* this css file will only style the homepage of our site */



#my-portrait {
  margin: 10px;       
  max-width: 200px;      
  width: 100%;            
  height: auto;          
  display: block;       
  margin-left: auto;     
  margin-right: auto;
}