 
body {
    background-color: #000;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    color: #FF6F00;  
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    font-family: 'Press Start 2P', cursive; 
}

h1 {
    font-size: 4em;
    margin-top: 20px;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}


button {
    font-family: 'Press Start 2P', cursive;
    background-color: #FF6F00;
    color: white;
    border: 2px solid #FFF;
    padding: 10px 20px;
    font-size: 1.5em;

